@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --primary-color: #0f0e17;
    --secondary-color: #ff8906;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-color);
    margin: 0;
}

.header {
    background-color: var(--secondary-color);
    height: 70px;
    width: "100%";
    display: flex;
    flex-direction: row;
}

.header a {
    margin-right: 10px;
    margin-left: 8px;
    padding: 5px;
    color: #fffffe;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

.header .active-header {
    border-radius: 8px;
    background-color: #fffffe;
    color: #ff8906;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #fffffe;
}

h3 {
    color: var(--secondary-color);
}

label {
    width: 300px;
    margin-bottom: 5px;
    color: #a7a9be;
}

input {
    width: 290px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
}

button {
    width: 300px;
    margin-bottom: 20px;
    padding: 5px;
    font-family: "Open Sans", sans-serif;
    background-color: var(--secondary-color);
    color: #fffffe;
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    font-weight: bold;
}

p {
    width: 300px;
    height: 50px;
    border: 1px solid var(--secondary-color);
    margin: 20px;
    padding: 5px;
    text-align: center;
    color: #fffffe;
    font-size: 18px;
}

.ques-box {
    border: 1px solid #ff8906;
    border-radius: 10px;
    margin-bottom: 15px;
}

.ques-option {
    width: 20px;
    margin-left: 30px;
}
